.Container{
    background-color: #e5e5e5;
    margin: 20px;
}


.CardsContainer{
    display: grid;
    grid-template-columns: 65% 35%;
}

@media (max-width: 767px) {
    .CardsContainer{
        display: block;
    }
}

.card{
    margin: 20px;
    padding: 20px;
    background: rgb(229,229,229);
    background: radial-gradient(circle, rgba(229,229,229,1) 0%, rgba(245,245,245,1) 100%);
    box-shadow: #0d30242c 0px 4px 12px;
    border-radius: 8px;
    color: #0D3024;
    animation: catin .8s forwards;
}

@keyframes catin {
    0%{
        margin: 40px 100px;
    }
    100%{
        margin: 20px;
    }
    
}

.card > h2{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    color: #2d6a4f;
}
.cardSubTitle{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px Solid #fdb849;
}

.cardSubTitle > h4{
    margin: 10px 0;
    font-weight: 300;
    color: #0D3024;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
}

.Producto{
    margin-top: 20px;
}
.Producto > p{
    margin: 0;
    text-align: left;
}

.Itemsku{
    color: #0D3024;
    font-size: 12px;
    text-align: left;
}

.SwitchContainer{
    margin-top: 25px;
}