.Container{
    background-color:#3a3a3a;

}

.cardsContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}

@media  (max-width: 768px){
    .cardsContainer{
        display: block;
    }
}
.card{
    margin: 20px;
    padding: 10px;
    background-color: #000000ea;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    border-radius: 8px;
    color: #fff;
}

.card >h2{
    text-align: left;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #FDB849;
    
}
.card >p{
    text-align: right;
    margin: 4px;
    font-size: 24px;
}

.card >hr{
    border: 1px solid #fdb84986;
}

.cardSub{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 5px;
    font-size: 12px;

}

.cardSub h4{
    margin:0 0;
    font-size: 20px;
    color: #E0E1DD;
}

.cardSub >p{
    margin-bottom: 0;
    color: rgba(149, 157, 165, 0.2);
}


.graphContainer{
    display: grid;
    grid-template-columns: 65% 31%;
    column-gap: 40px;
    margin: 20px;
}

@media (max-width:768px){
    .graphContainer{
        display: block;
    }
}
.Homegraph{
    background-color: #000000ea;
    border-radius: 8px;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    padding: 10px;
}

@media (max-width:768px){
    .Homegraph{
        margin-top: 30px;
    }
}


.Homegraph > h4{
    margin: 0;
    text-align: right;
    color: #FDB849;
    padding-right: 20px;
}

.graphVentas{
    display: block;
}

.graphCustExp >h2{
    margin:20px 0 0 0;
    color: #FDB849;
    font-size: 26px;
}
.CustExpStats{
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px;
    color: #FDB849;
}
.CustExpStats > div> p{
    margin: 6px;
}
.CustExpStatsPos > h4{
    color:#66CC00;
    margin: 10px 0;
}

.CustExpStatsNeg > h4{
    color:#F50000;
    margin: 10px 0;
}