.Container{
    background-color:rgb(102, 102, 102);
}

.HourBanner{
    margin: 0;
    padding-right: 30px;
    text-align: right;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    
}
.cardsContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

@media  (max-width: 768px){
    .cardsContainer{
        display: block;
    }
}
.card{
    margin: 20px;
    padding: 10px;
    background-color: #14213D;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
    border-radius: 8px;
    color: #fff;
}

.card >h4{
    text-align: left;
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    
}
.card >p{
    text-align: right;
    margin: 4px;
    font-size: 24px;
}

.card >hr{
    border: 1px solid #fdb84986;
}

.graphContainer{
    display: grid;
    grid-template-columns: 60% 36%;
    column-gap: 40px;
    margin: 20px;
}

@media (max-width:768px){
    .graphContainer{
        display: block;
    }
}
.Homegraph{
    background-color: #14213dcb;
    border-radius: 8px;
    margin-top: 20px ;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Homegraph > h4{
    
    text-align: right;
    color: #FDB849;
    padding-right: 30px;
}

.graphVentas{
    display: block;
}