.Container{
    background-color:#3a3a3a;
}

/*-------------Informes Home--------------------*/
.card{
    margin: 20px;
    padding: 20px;
    background-color: #000000ea;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    border-radius: 8px;
    color: #fff;
    animation: horin .8s forwards;
}

@keyframes horin {
    0%{
        background-color: #1b1b1b;
        margin: 0 -20px 300px -20px;
    }
    100%{
        background-color: #000000ea;
        margin: 20px;
    }
}

.card:hover{
    border-left: 4px Solid hotpink;
    box-shadow: rgba(255, 105, 180, 0.37) 0px 8px 24px;
    border-radius: 12px;
    cursor: pointer;
}


.cardSubTitle{
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #FDB849;
    border-bottom: 1px Solid hotpink;
}

.cardSubTitle > h2{
    margin: 5px 0;
    font-size: 20px;
    font-weight: 500;
}

.cardSubTitle > i{
    margin-top: 4px;
    font-size: 30px;
}

.cardInfo{
    text-align: left;
    font-size: 20x;
}

/*-------- Informe--------*/

.Volver{
    width: 100px;
    display: flex;
    margin: 20px;
    padding: 0 10px;
    border-radius: 8px;
    color: #FDB849;
}

.Volver:hover{
    color:hotpink;
    border-left: 2px solid hotpink;
    cursor: pointer;
}

.Volver > i{
    margin-top: 20px;
    padding-right: 5px;
}

/*-------- Informe Diario----------*/
.DiaContainer{
    display: grid;
    grid-template-columns: 65% 35%;
    animation: infoin .8s forwards;
}

@keyframes infoin {
    0%{
        margin: 0 -20px 300px -20px;
    }
    100%{
        margin: 20px;
    }
}
@media (max-width:767px) {
    .DiaContainer{
        display: block;
    }
}
.InformeCard{
    margin: 20px;
    padding: 10px 20px;
    background-color: #000000ea;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    border-radius: 8px;
    text-align: left;
    color: #fff;
}

.InformeCard > h2{
    margin-top: 10px;
    padding: 5px 0;
    text-align: right;
    color: #FDB849;
    font-weight: 300;
    border-bottom: 1px solid hotpink;
}
.InformeTab{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    
}

.InformeTab > div > h4{
    margin: 10px 0;
}

.InformeSubTo{
    display: grid;
    grid-template-columns: 70% 30%;
    border-top: 1px solid rgb(56, 55, 56);
    color: #FDB849;
}

.InformeSubTo > h2{
    font-weight: 300;
}

.TopProducts > h2{
    margin-top: 10px;
    padding: 5px 0;
    text-align: right;
    color: #FDB849;
    font-weight: 300;
    border-bottom: 1px solid hotpink;
}

.TopProductsInfo{
    display: flex;
    justify-content: space-between;
}

.ObjetivosContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width:767px) {
    .ObjetivosContainer{
        display: block;
    }
}
.Objetivos{
    color: #FDB849;
    font-size: 20px;
}


.Objetivos > h4{
    margin: 10px 0;
    padding: 5px;
    font-weight: 300;
    text-align: right;
    border-bottom: 1px solid hotpink;
}

.ObjInfo{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    color: #fff;
}

.ObjInfo>p{
    margin: 0;
    font-size: 18px;
}


.ObjLogrado{
    margin: 0;
    padding-left: 20px;
    color: green;
}

.ObjNoLogrado{
    margin: 0;
    padding-left: 20px;
    color: red;
}



/*----------------Informe Productividad--------*/
.InformeProd{
    display: grid;
    grid-template-columns: 65% 35%;
}
.GraphCard{
    margin: 20px;
    padding: 10px 20px;
    background-color: #000000ea;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    border-radius: 8px;
    text-align: left;
    color: #fff;
    animation: prodin .8s forwards;
}

@keyframes prodin {
    0%{
        padding: 0 20px 150px 20px;
    }
    100%{
        padding: 10px 20px;
    }
}

.GraphCard > h2{
    padding: 5px 0;
    font-weight: 300;
    color: #FDB849;
    border-bottom: 1px solid hotpink;
}
.GraphCardInfo{
    display: flex;
    justify-content: space-between;
}

/*----------------Informe Ventas--------*/

.InformeVentaTab{
    display: flex;
    justify-content: space-between;
    animation: ventain .8s forwards;
}

@keyframes ventain {
    0%{
        padding: 0 150px 150px 20px;
    }
    100%{
        padding: 10px 20px;
    }
}