.App {
  text-align: center;
  display: block;
  background-color: #3a3a3a;
}

.DashDisplay{
  margin-left: 240px;
  padding-bottom: 20px;
}

@media (max-width:767px) {
  .DashDisplay{
    margin: 0;
  }
  
}

.HourDateBanner{
  padding: 30px 30px 10px 0;
  text-align: right;
  color: #FDB849;
}

.HourDateBanner> h2{
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.HourDateBanner> p{
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
/*.Dash-display{

}*/


