.App {
  text-align: center;
  display: block;
  background-color: #fff;
}

@media (min-width: 768px){
  .App{
    display: grid;
    grid-template-columns: 18% 82%;
  }
}

.Dash-display{
  margin: 10px;
  background-color: #fff;
}


