.panelContainer{
    background: rgb(9,37,27);
    background: radial-gradient(circle, rgba(9,37,27,1) 0%, rgba(6,27,20,1) 100%);
    padding: 10px;
    position: fixed;
    width: 16vw;
    z-index: 1;
}

@media (max-width:767px) {
    .panelContainer{
      display: block;
      position: inherit;
      width: 100vw;
    }
    
}


.Hr{
    margin: 24px 0;
    border: 1px solid rgba(246, 252, 252, 0.384);
}
.Logo{
    display: none;
    margin-top: 10px;
    font-size: 36px;
    color: #FDB849;
}

.Logo > p{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

@media (min-width: 768px){
    .Logo{
        display: block;
    }
}

.PanelNav{
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 40px auto;
    color: rgba(246, 252, 252, 0.253);;
}

/*--------------Links Principales----------------*/

.PanelLinks{
    display: flex;
    cursor: pointer;
    font-size: 16px;
}

.PanelLinks:hover{
    color: #B7E4C7;
}


.PanelLinkSelected{
    color: #FDB849;
    animation: sidebar 0.5s forwards;  
}

@keyframes sidebar {
    from {
        border-left: 0px solid #B7E4C7;
        margin-left: 0;
    }
    to {
        border-radius: 18px 0  0 0;
        border-left: 4px solid #FDB849;
        margin-left: 4px;
    }
  }


.PanelLinks > i{
    font-size: 16px;
    box-sizing: content-box;
    padding: 18px 0 0 10px;
    max-width: 16px;
}

.PanelLinks > p{
    margin-left: 16px;
}

/*-----------Links Secundarios------------*/
.SecOptions{
    margin: 60px 0;
}

.PanelSecLinks{
    display: flex;
    cursor: pointer;
    font-size: 14px;
    color: rgba(246, 252, 252, 0.253);
}

.PanelSecLinks:hover{
    color: #B7E4C7;
}

.PanelSecLinkSelected{
    color: #FDB849  ;
}

.PanelSecLinks > i{
    margin-top: 4px;
    padding: 0 10px;
}

.PanelSecLinks > p{
    margin-top: 0;
}

.copy{
    display: flex;
    margin-top: 20px;
    padding:  0 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: rgba(246, 252, 252, 0.253);

}

.copy:hover{
    color: #B7E4C7;
}

.copy >i{
    margin-top: 16px;
    margin-right: 10px;
}

.copy >p{
    margin-bottom:0;
}